.viajes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .viaje-item {
    width: calc(50% - 20px); /* Esto asegura que cada viaje ocupe la mitad del ancho */
    box-sizing: border-box; /* Esto asegura que el padding no afecte el tamaño del ancho */
    
    border: 2px solid #ccc; /* Añade un borde gris claro alrededor del viaje */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espacio alrededor del contenido dentro del recuadro */
    background-color: #f9f9f9; /* Color de fondo del recuadro (opcional) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar un efecto de elevación */
  }
  
  @media (max-width: 768px) {
    .viaje-item {
      width: 100%; /* En pantallas pequeñas, el recuadro ocupa todo el ancho */
    }
  }
  

.comentarios-container {
    padding: 80px 20px 20px;
    font-family: "Manrope", sans-serif;
  }

  
  
  .resena-foto-container {
    margin: 10px 0;
  }
  
  .resena-foto {
    width: 100%;
    max-width: 300px; /* Tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra alrededor de la imagen */
  }
  
  
  .comentarios-container h1 {
    color: #379ae6;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .comentarios-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .comentarios-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .comentarios-container li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
  }
  
  .comentarios-container button {
    background-color: #379ae6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .comentarios-container button:hover {
    background-color: #2c81cc;
  }
  
  .comentarios-container p {
    color: #666;
    font-size: 16px;
    margin: 5px 0;
  }
  