<app-header></app-header>

<div class="comentarios-container">
  <h1>Reseñas</h1>

  <div *ngIf="viajes.length > 0; else noViajes">
    <h2>Lista de Viajes</h2>
    <div class="viajes-container">
      <div *ngFor="let viaje of viajes; let i = index" class="viaje-item">
        <p><strong>Viaje:</strong> {{ viaje.nombre }}</p>
        <button (click)="toggleResenas(i)">Ver Reseñas</button>

        <div *ngIf="viaje.mostrarResenas">
          <h3>Reseñas Pendientes</h3>
          <ul *ngIf="viaje.resenas.length > 0; else noResenas">
            <li *ngFor="let resena of viaje.resenas; let j = index">
              <p><strong>Cliente:</strong> {{ resena.nombreCliente }}</p>
              <p><strong>Clasificacion:</strong> {{ resena.clasificacion }}</p>
              <p><strong>Descripción:</strong> {{ resena.descripcion }}</p>
              
              <div class="resena-foto-container" *ngIf="resena.urlFoto">
                <img [src]="resena.urlFoto" alt="Foto de la reseña" class="resena-foto">
              </div>

              <button (click)="aprobarResena(i, j, resena)">Aprobar</button>
              <button (click)="rechazarResena(i, j)">Rechazar</button>
            </li>
          </ul>
          <ng-template #noResenas>
            <p>No hay reseñas pendientes para este viaje.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noViajes>
    <p>No hay viajes disponibles.</p>
  </ng-template>
</div>
