<app-header></app-header>

<div class="home-container">
  <h1>Servicio Web</h1>
  <h2>¡Bienvenido a la Administración de Reseñas!</h2>
  <p>Aquí puedes revisar, aprobar y rechazar las reseñas de los viajes.</p>
  <a routerLink="/comentarios">Ir a comentarios</a>
</div>

<div class="home-container">
  <h1>Servicio Web</h1>
  <h2>¡Bienvenido a la Administración de Archivos!</h2>
  <p>Sube los documentos relacionados a los viajes. Asegúrate de que los archivos estén en el formato correcto.</p>
  <a routerLink="/cargar-archivos">Ir a cargar archivos</a>
</div>
